.no-stats {
  text-align: center;
  color: darkred;
  font-size: 1.2em;
}

.chart-container {
  position: relative;
}

.no-stats-chart {
  position: absolute;
  inset: 0;
  background-color: rgba(30, 19, 99 , 0.8);
  display: grid;
  place-content: center;
  overflow: hidden;
}

@supports (backdrop-filter: blur(3px)) {
  .no-stats-chart {
    backdrop-filter: blur(3px);
  }
}

.rotate-text {
  text-transform: uppercase;
  color: #eee;
  font-size: 1.2em;
  transform: rotate(20deg);
  font-family: 'Mario', 'Comic Sans MS', sans-serif;
}


@media screen and (max-width: 768px) {
  .content-container {
    box-sizing: border-box;
    margin-inline: 0;
    width: 100%;
    max-width: unset;
  }

  .gameOneStats-container, .gameTwoStats-container {
    place-content: center;
  }
}