.no-stats {
  text-align: center;
  color: darkred;
  font-size: 1.2em;
}

.chart-container {
  position: relative;
}

.no-stats-chart {
  position: absolute;
  inset: 0;
  background-color: transparent;
  display: grid;
  place-content: center;
  overflow: hidden;
  backdrop-filter: blur(6px);
}


.rotate-text {
  text-transform: uppercase;
  color: #444;
  font-size: 1.2em;
  transform: rotate(20deg);
  font-family: 'Mario', 'Comic Sans MS', sans-serif;
}

.performance-div {
  color: rgb(10, 105, 10);
  font-family: 'Mario', 'Comic Sans MS', sans-serif;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .content-container {
    box-sizing: border-box;
    margin-inline: 0;
    width: 100%;
    max-width: unset;
  }

  .gameOneStats-container, .gameTwoStats-container {
    place-content: center;
  }
}