{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}">
<link rel="stylesheet" href="{% static 'block-footer.css' %}">
{% endblock %}

{% block logo %}
<a href="/" class="logo"><img src="../media/media/brain-logo.png" alt=""></a>
{% endblock %}

{% block title %}
<h1 class="title">¿Que es la dislexia?</h1>
{% endblock %}

{% block content %}
<main class="content-container">
  <section class="p-section">
    <h3 class="p-subtitle">¿Qué es la dislexia?</h3>
    <p class="about-p">
      La dislexia es un tipo de trastorno del aprendizaje. Los niños con un trastorno del aprendizaje tienen problemas para procesar las palabras y/o los números. Hay varios tipos de trastornos del aprendizaje. "Dislexia" es el término que se usa cuando una persona tiene dificultades para aprender a leer, a pesar de ser inteligente y de querer aprender.
    </p> 

  </section>

  <section class="p-section">
    <h3 class="p-subtitle">¿Cuál es la causa de la dislexia?</h3>  
    <p class="about-p">
      La dislexia no es una enfermedad. Se trata de un trastorno con el que se nace y que se suele dar por familias. Las personas con dislexia no son tontas ni holgazanas. La mayoría de ellas tiene una inteligencia normal o por encima de lo normal, y se esfuerza mucho para superar sus problemas de lectura.
      Las investigaciones indican que la dislexia ocurre porque el cerebro procesa la información de manera diferente. Las imágenes cerebrales muestran que, cuando la gente con dislexia lee, usa partes del cerebro distintas a las que usa la gente sin dislexia. Estas imágenes también muestran que el cerebro de las personas con dislexia no funciona eficazmente mientras leen. Por eso, su lectura parece tan lenta y complicada.
    </p> 
  </section>
  
  <section class="p-section desktop-section">
    <h3 class="p-subtitle">¿Qué ocurre en la dislexia?</h3> 
    <div class="parragraphs">
      <p class="about-p">
        <img class="gif" src="../media/media/dyslexia.gif" alt="">La mayoría de los niños empiezan a aprender a leer percibiendo que las palabras están formadas por sonidos (esto recibe el nombre de "conciencia fonológica"). Después, relacionan esos sonidos con las letras del abecedario (correspondencia entre fonemas y grafemas). Finalmente, aprenden a combinar esos sonidos (y letras) para formar palabras y, después de un tiempo, terminan reconociendo de forma automática las palabras que han visto muchas veces.
      </p>
      <p class="about-p">
        Leer es un poco como montar en bicicleta: es necesario hacer muchas cosas al mismo tiempo y de forma coordinada, es decir, cada cosa en su momento preciso. Con la práctica, los lectores típicos aprenden progresivamente a leer las palabras de forma automática, de modo que pueden centrar su energía mental en entender y recordar lo que acaban de leer.
      </p>
      <p class="about-p">
        Los niños con dislexia, sin embargo, tienen problemas tanto de conciencia fonológica como para establecer correspondencias entre los grafemas y los fonemas. Por este motivo, la lectura no llega a convertirse en un proceso automático sino que continúa siendo una tarea lenta y que requiere un gran esfuerzo. Cuando el niño tiene dificultades en los primeros pasos del aprendizaje de la lectura, está destinado a tener problemas de comprensión y lo más probable es que esto le cause frustración.
      </p>
      <p class="about-p">
        Una suposición habitual consiste en creer que la dislexia implica invertir el orden de las letras dentro de las palabras, por ejemplo, leer "vea" en vez de "ave". Este tipo de problema puede formar parte de la dislexia, pero hasta el primer o segundo curso de primaria es muy común que todos los niños inviertan las letras de las palabras, no solo los que tienen dislexia. Los principales problemas de los niños con dislexia afectan a la conciencia fonológica, la correspondencia fonema-grafema y el reconocimiento rápido de las palabras.
      </p>
    </div>
  </section>

  <section class="p-section grid-section responsive-section">
    <h3 class="p-subtitle">¿Qué ocurre en la dislexia?</h3> 
     <div class="gif-container">
      <img class="gif" src="../media/media/dyslexia.gif" alt="">
    </div> 
    <div class="parragraphs">
      <p class="about-p">
        La mayoría de los niños empiezan a aprender a leer percibiendo que las palabras están formadas por sonidos (esto recibe el nombre de "conciencia fonológica"). Después, relacionan esos sonidos con las letras del abecedario (correspondencia entre fonemas y grafemas). Finalmente, aprenden a combinar esos sonidos (y letras) para formar palabras y, después de un tiempo, terminan reconociendo de forma automática las palabras que han visto muchas veces.
      </p>
      <p class="about-p">
        Leer es un poco como montar en bicicleta: es necesario hacer muchas cosas al mismo tiempo y de forma coordinada, es decir, cada cosa en su momento preciso. Con la práctica, los lectores típicos aprenden progresivamente a leer las palabras de forma automática, de modo que pueden centrar su energía mental en entender y recordar lo que acaban de leer.
      </p>
      <p class="about-p">
        Los niños con dislexia, sin embargo, tienen problemas tanto de conciencia fonológica como para establecer correspondencias entre los grafemas y los fonemas. Por este motivo, la lectura no llega a convertirse en un proceso automático sino que continúa siendo una tarea lenta y que requiere un gran esfuerzo. Cuando el niño tiene dificultades en los primeros pasos del aprendizaje de la lectura, está destinado a tener problemas de comprensión y lo más probable es que esto le cause frustración.
      </p>
      <p class="about-p">
        Una suposición habitual consiste en creer que la dislexia implica invertir el orden de las letras dentro de las palabras, por ejemplo, leer "vea" en vez de "ave". Este tipo de problema puede formar parte de la dislexia, pero hasta el primer o segundo curso de primaria es muy común que todos los niños inviertan las letras de las palabras, no solo los que tienen dislexia. Los principales problemas de los niños con dislexia afectan a la conciencia fonológica, la correspondencia fonema-grafema y el reconocimiento rápido de las palabras.
      </p>
    </div>
  </section>

  <section class="p-section">
    <h3 class="p-subtitle">
      ¿Cuáles son los signos de la dislexia?
    </h3>

    <p class="about-p">
      En los niños de preescolar y de la escuela primaria, algunos de los signos de la dislexia incluyen las dificultades en las siguientes actividades: 
    </p>

    <ul class="about-ul">
      <li>aprender a hablar</li>
      <li>pronunciar bien palabras largas</li>
      <li>hacer rimas y captar rimas</li>
      <li>aprender la secuencia del abecedario, los días de la semana, los colores, las formas y los números</li>
      <li>aprender los nombres de las letras y sus sonidos</li>
      <li>aprender a leer y a escribir su nombre</li>
      <li>aprender a separar las palabras en sílabas (vaquero en va-que-ro) y a identificar los sonidos del habla (o fonemas: ave en a-v-e) que componen las palabras</li>
      <li>pronunciar por separado los sonidos que componen palabras simples</li>
      <li>leer y escribir palabras con la secuencia de letras correcta  ("los" en vez de "sol")</li>
      <li>caligrafía y coordinación motora fina</li>
    </ul>

    <p class="about-p">
      Tal vez, los niños mayores, los adolescentes y los adultos presenten los signos de dislexia anteriores, pero además es probable que presenten los siguientes:
    </p>

    <ul class="about-ul">
      <li>leer y escribir muy por debajo de su nivel de estudios</li>
      <li>evitar leer y escribir</li>
      <li>lentitud al realizar tareas escolares que implican leer y/o escribir y al hacer exámenes</li>
      <li>dificultades en el aprendizaje de un idioma extranjero</li>
    </ul>
  </section>

  <section class="p-section">
    <h3 class="p-subtitle">
      ¿Cómo se diagnostica la dislexia?
    </h3>
    <div class="parragraphs">
      <p class="about-p">
        Cuando la dislexia se diagnostica, se la suele descubrir en la escuela primaria. En algunos casos, no es evidente hasta que el niño es mayor y se espera que lea y entienda materiales escritos más extensos y complejos. Que un adolescente inteligente siga teniendo problemas con este tipo de materiales de lectura, así como problemas de ortografía pueden ser signos de que tiene dislexia.
      </p>
  
      <p class="about-p">
        La dislexia solo se puede diagnosticar mediante una evaluación exhaustiva e integral hecha por un especialista en lectura o un psicólogo, ya sea dentro o fuera de la escuela. Los pediatras suelen conocer los signos de la dislexia y pueden orientar a las familias para que reciban la ayuda adecuada.
      </p>
      <p class="about-p">
        Si el diagnostico de dislexia se retrasa, puede causar problemas más graves en la lectura y una baja autoestima. Por eso, es importante reconocer los síntomas de la dislexia cuanto antes en la enseñanza primaria e iniciar una instrucción especializada en la lectura de inmediato.
      </p>
    </div>
  </section>
  <section class="p-section">
    <h3 class="p-subtitle">¿Cómo se trata la dislexia?</h3>
    <div class="parragraphs">
      <p class="about-p">Afortunadamente, con la ayuda y el apoyo adecuados, la mayoría de niños con dislexia aprenden a leer y a desarrollar estrategias que les permiten seguir el ritmo de las clases ordinarias.</p>
      <p class="about-p">Los niños con dislexia suelen trabajan con un profesor de apoyo, tutor o educador psicopedagógico especializado en la lectura que les enseña a leer y escribir, así como a controlar este trastorno. Es posible que el tutor, el psicólogo, o el pediatra de su hijo recomiende la ayuda de un educador psicopedagógico (también conocido como terapeuta educacional), un terapeuta del lenguaje o un logopeda. Estos profesionales están formados específicamente para trabajar con niños disléxicos.</p>
      <p class="about-p">En EE. UU., las leyes federales otorgan a los niños con problemas de lectura y otros tipos de problemas de aprendizaje relacionados con el lenguaje (conocidos conjuntamente como "trastornos específicos del aprendizaje") el derecho a recibir ayuda especial en las escuelas públicas, instrucción especializada, tiempo adicional para hacer exámenes y/o deberes, o ayuda para tomar apuntes. La aplicación de estas leyes varía de un estado a otro. Los padres de niños diagnosticados con dislexia deberían hablar sobre estas leyes y sobre las adaptaciones con el personal de la escuela.</p>
    </div>
  </section>
  <section class="p-section">
    <h3 class="p-subtitle">¿Qué más debería saber?</h3>
    <div class="parragraphs">
      <p class="about-p">Los niños con dislexia pueden sentir que no son tan inteligentes como sus compañeros porque les resulta difícil seguir el ritmo. A medida que van avanzando en la enseñanza primaria, los problemas pueden empeorar, porque la lectura desempeña un papel cada vez más importante en el aprendizaje. Por lo tanto, los niños pueden llegar a perder interés en la escuela.</p>
      <p class="about-p">Los niños con dificultades lectoras suelen evitar la lectura porque es una tarea que les supone un gran esfuerzo y que les resulta muy estresante. Por eso, desaprovechan las valiosas oportunidades para practicar la lectura y se van quedando cada vez más atrás en comparación con sus compañeros de clase.</p>
      <p class="about-p">Es importante que apoye los esfuerzos de su hijo fomentando la lectura y ayudándolo a leer cuando estén en casa. Así mismo, trate de darle a su hijo oportunidades para que desarrolle la confianza en sí mismo y tenga éxito en otras áreas, como los deportes, sus aficiones, la música, las actividades artísticas y/o el teatro. Hay artistas, atletas, científicos, emprendedores, médicos, abogados y estadistas que han logrado grandes cosas a pesar de sus problemas con la lectura.</p>
      <p class="about-p">Si sospecha que su hijo podría tener dislexia, hable con su médico, su tutor o un especialista en lectura. Cuanto antes se aborden los problemas de lectura de su hijo, antes podrá recibir la ayuda que necesita.</p>
    </div>
  </section>
</main>
{% endblock %}