<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cognicises!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% load static %}
  <link rel="icon" href="{% static 'logo/brain-logo.png' %}">
  <script src="{% static 'script.js'%}" defer></script>
  {% block script %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  {% block css %}
  {% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Montserrat&family=Roboto&family=Nunito:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
  <header>
    {% block logo %}
    {% endblock %}
    <nav class='nav' id="barra-nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url 'games' %}">Juegos</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'profile' request.user.username %}">{{request.user.get_username}}</a></li>
        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
        <li><a href="{% url 'createuser' %}">Registrate!</a></li>
        {% endif %}
      </ul>
    </nav>
    <nav class="responsive-nav">
      <div class="burger-container">
        <span class="burger"></span>
      </div>
      <div class="dropdown-menu">
        <ul>
          <li class="dropdown_list-item"><a href="/">Home</a></li>
          <li class="dropdown_list-item"><a href="{% url 'games' %}">Juegos</a></li>
          {% if request.user.is_authenticated %}
          <li class="dropdown_list-item"><a href="{% url 'profile' request.user.username %}">{{request.user.get_username}}</a></li>
          <li class="dropdown_list-item"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
          {% else %}
          <li class="dropdown_list-item"><a href="{% url 'login' %}">Iniciar Sesion</a></li>
          <li class="dropdown_list-item"><a href="{% url 'createuser' %}">Registrate!</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  {% block title %}
  {% endblock %}
  <div class="msg-container">
    {%if messages%}
    {% for message in messages%}
      <div class="error-msg {{message.extra_tags}}">
        {{ message }}</div>
      {%endfor%}
    {%endif%}
  </div>
  {% block content %}
  {% endblock %}
  <footer class="footer absolute-footer"><nav>
    <ul class="footer-ul">
      <li><a href="https://www.linkedin.com/in/salomon-giorgio-levi-aparain-69b8aa170/" class="footer-link" target="_blank"><img src="{% static 'icons/linIn.svg'%}" alt="linkedIn profile"></a></li>
      <li><a href="https://github.com/salolevi" class="footer-link" target="_blank"><img src="{% static 'icons/github.svg'%}" alt=""></a></li>
    </ul>
  </nav>
  <span class="rights">All rights reserved</span></footer>
  <footer class="footer block-footer">
    <nav>
      <ul class="footer-ul">
        <li><a href="https://www.linkedin.com/in/salomon-giorgio-levi-aparain-69b8aa170/" class="footer-link" target="_blank"><img src="{% static 'icons/linIn.svg'%}" alt="linkedIn profile"></a></li>
        <li><a href="https://github.com/salolevi" class="footer-link" target="_blank"><img src="{% static 'icons/github.svg'%}" alt=""></a></li>
      </ul>
    </nav>
    <span class="rights">All rights reserved</span>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</body>
</html>