{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'block-footer.css' %}">
{% endblock %}

{% block logo %}
<a href="/" class="logo"><img src="{% static 'logo/brain-logo.png' %}" alt=""></a>
{% endblock %}

{% block title %}
<h1 class="title">Bienvenido a CogniCises!</h1>
{% endblock %}

{% block content %}
<main class="content-container">
  <section class="grid we-are">
    <div class="grid-child">
      <h2 class="sub-title sub-title-right">¿Qué es CogniCises! ?</h2>
      <p class="info-p">
        CogniCises! Es una plataforma diseñada para servir como lugar en común para que niños con distintas problematicas puedan relajarse, divertirse, jugar y aprender. Contamos con juegos que permiten mejorar las habilidades cognitivas de los niños según la problematica a la que esten asociados.
      </p>
      <p class="info-p">
        El objetivo de CogniCises! es proveer a los niños con herramientas para que puedan aprender, mejorar y divertirse todo al alcance de un sólo click. 
      </p>
    </div>
    <div class="grid-child girlimg-container">
      <img src="../media/media/girl-playing.webp" alt="Niña jugando" class="index-img">
    </div>
  </section>
  <section class="grid registering">
    <div class="grid-child">
      <img src="../media/media/registering.jpg" alt="Padre ayudando a niño en la computadora" class="index-img">
    </div>
    <div class="grid-child">
      <h2 class="sub-title sub-title-left">
        Cómo puedo jugar?
      </h2>
      <p class="info-p">
        ¡Empezar es muy facil! Si no tienes una cuenta, puedes hacer click <a href="{% url 'createuser' %}" class="index-link">aquí</a> o dirigirte desde la barra de navegacion en la parte superior para acceder al enlace. Allí podras crearte una cuenta rellenando el formulario con tus datos. Si no sabes como hacerlo, ¡pídele ayuda a tus padres o a tu tutor para hacerlo!
      </p>
      <p class="info-p">
        Una vez tengas tu cuenta, ya podras acceder a los juegos de la plataforma y jugar sin restricción!
      </p>
      <p class="info-p">
        ¿Ya tienes una cuenta? ¡Fabuloso! Haz click <a href="{% url 'login' %}" class="index-link">aquí</a> para iniciar sesion.
      </p>
    </div>
  </section>
</main>
{% endblock %}