{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'tutorial.css' %}">
<link rel="stylesheet" href="{% static 'block-footer.css' %}">
{% endblock %}

{% block logo %}
<a href="/" class="logo"><img src="{% static 'logo/brain-logo.png' %}" alt=""></a>
{% endblock %}

{% block title %}
<h1 class="title">Bienvenido a CogniCises!</h1>
{% endblock %}

{% block content %}
<main class="content-container">
  <h2 class="sub-title">Juegos para la Dislexia</h2>
  <section class="game-tutorial-section">
    <h3 class="game-title">Juego de Completar</h3>
    <p class="info-p">Descripcion: <br>En este juego, se visualizaran opciones de distintas palabras. Dos de ellas tienen errores mientras que una es la correcta.
      <br>
      Apretando el siguiente boton que veras en el centro del juego:
    </p>
    <div class="img-container"><img class="tutorial-img" src="../media/media/reproductor.png" alt="imagen de reproductor de audio"></div>
    <p class="info-p">
      Se reproduce un audio de la palabra correcta. Una vez que se reprodujo el objetivo es presionar la opcion correcta de las tres.
    </p>
    <p class="info-p">Podrás ver las tres opciones de palabras que mencionamos antes:</p>
    <div class="img-container opciones-container"><img src="../media/media/opciones.jpg" alt="" class="tutorial-img opciones-img"></div>
    <p class="info-p info-p-center">
      ¡Trata de acertar la mayor cantidad posible de palabras!
    </p>
</section>
  <section class="game-tutorial-section">
    <h3 class="game-title">Juego de Rellenar</h3>
    <p class="info-p">
      En este juego se visualizara una imagen. <br>
      Abajo de la imagen, podras ver una palabra incompleta que corresponde a la imagen que se muestra. El objetivo del juego es que rellenes correctamente la palabra. <br>
      La imagen y las letras se veran asi:
    </p>
    <div class="img-container">
      <img src="../media/media/rellenar.jpg" alt="imagen del juego de rellenar" class="tutorial-img">
    </div>
    <p class="info-p info-p-center">
      ¡Trata de acertar la mayor cantidad posible de palabras!
    </p>
  </section>
  <h2 class="sub-title">Juegos de Logica</h2>
  <section class="game-tutorial-section">
    <h3 class="game-title">Juego de Reordenar</h3>
    <p class="info-p">En este juego, se te presentará una imagen desordenada. El objetivo es que arrastres las piezas hacia donde crees que deberian estar.</p>
    <div class="imgs-container flex">
      <img class="br-5" src="../media/media/img_desordenada.jpg" alt="">
      <img class="aside-arrow" src="../media/media/right-arrow.png" alt="">
      <img class="curved-arrow" src="../media/media/curved-arrow.png" alt="">
      <img class="br-5" src="../media/media/img_ordenada.jpg" alt="">
    </div>
    <p class="info-p info-p-center">
      ¡Intenta ordenarlas todas antes de que se acabe el tiempo!
    </p>
  </section>
  <section class="game-tutorial-section">
    <h3 class="game-title">Juego de Memoria</h3>
    <p class="info-p">
      Es el clasico juego de memoria. En el tablero hay distintos simbolos y cada uno tiene una pareja identica. 
    </p>
    <div class="imgs-container flex">
      <img src="../media/media/img_memoria1.jpg" alt="">
      <img class="aside-arrow" src="../media/media/right-arrow.png" alt="">
      <img class="curved-arrow" src="../media/media/curved-arrow.png" alt="">
      <img src="../media/media/img_memoria2.jpg" alt="">
    </div>
    <p class="info-p info-p-center">¡Intenta encontrarlas todas antes que se acabe el tiempo!</p>
  </section>
</main>
{% endblock %}
